@import 'src/styles/mixins';

.buttonWrapper {
  @apply flex items-center  cursor-pointer gap-[8px];
  justify-content: end;
}

.deleteButton {
  @apply font-medium text-[14px] leading-[1.28] text-customBlack;
}

.svg {
  @apply w-[24px] h-[24px];
}

.list {
  @apply max-h-[380px] w-full mt-[20px];
  overflow: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Стиль повзунка при наведенні миші */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
