@import '../../../styles/mixins';


.form {
  @apply relative;
}

.input {
  @apply w-full h-[48px] leading-[1.29] outline-transparent bg-transparent  rounded-[30px] transition-all  py-0 pr-[60px] pl-[20px];
  border: 1px solid rgba(1, 1, 1, 0.3);

  &::placeholder {
    color: hsl(0, 0%, 50%);
  }

  &:focus {
    border-color: #586f1f;
  }

  @include media-rules(tablet) {
    @apply w-[269px];
  }
}

.button {
  @apply relative ;
}

.svg {
  @apply w-[20px] h-[20px] absolute right-[20px] top-[-15px];
}
